Repository homelab-00/TranscriptionSuite: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, ui-contract-check

.pre-commit-config.yaml:

---
# Pre-commit hook configuration for TranscriptionSuite.
#
# Setup:   cd build && uv sync && cd .. && ./build/.venv/bin/pre-commit install
# Ad-hoc:  ./build/.venv/bin/pre-commit run            (staged files only)
#          ./build/.venv/bin/pre-commit run --all-files (entire repo)
#
# Docs:    https://pre-commit.com

repos:

  # ── Generic file checks ──────────────────────────────────────────────────
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
        args: ["--unsafe"]          # allow custom YAML tags (e.g. docker-compose)

  # ── Validate pyproject.toml files ─────────────────────────────────────────
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  # ── Python: ruff format + lint ────────────────────────────────────────────
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.2
    hooks:
      - id: ruff-format
        args: ["--config=build/pyproject.toml"]
      - id: ruff
        args: ["--config=build/pyproject.toml", "--fix"]

  # ── Spell check ──────────────────────────────────────────────────────────
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args:
          - "--skip=*.lock,*.svg,*.ico,*.icns,*.png,*.woff,*.woff2,*package-lock.json,node_modules,dist-electron,release,.git,dashboard/dist,contract-baseline.json"
          - "--ignore-words-list=ect,crate,ser"
        exclude: "^(dashboard/release/|dashboard/dist-electron/)"

  # ── Dashboard: Prettier format ───────────────────────────────────────────
  - repo: local
    hooks:
      - id: prettier
        name: prettier (dashboard)
        entry: bash -c 'cd dashboard && npx prettier --write --ignore-unknown "${@#dashboard/}"' --
        language: system
        files: ^dashboard/
        types_or: [javascript, jsx, ts, tsx, css, json, html, markdown, yaml]
        exclude: "^dashboard/(dist|dist-electron|release|node_modules)/"

  # ── Dashboard: UI contract validation + fixture tests ────────────────────
  - repo: local
    hooks:
      - id: ui-contract-check
        name: UI contract (validate + test)
        entry: bash -c 'cd dashboard && npm run ui:contract:check --silent'
        language: system
        files: ^dashboard/
        pass_filenames: false

feat: visualizer redesign, global shortcuts, logo propagation, UI contract & docs
  README.md
  README_DEV.md
  build/assets/logo.ico
  build/assets/logo.png
  build/assets/logo.svg
  build/assets/logo_wide.png
  build/assets/logo_wide.svg
  build/assets/logo_wide_readme.png
  build/assets/tray-icon.png
  build/assets/tray-icon@1x.png
  build/assets/tray-icon@2x.png
  build/generate-ico.sh
  build/uv.lock
  dashboard/components/AudioVisualizer.tsx
  dashboard/components/Sidebar.tsx
  dashboard/components/views/SessionView.tsx
  dashboard/components/views/SettingsModal.tsx
  dashboard/electron/main.ts
  dashboard/electron/preload.ts
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/public/logo.svg
  dashboard/src/config/store.ts
  dashboard/src/types/electron.d.ts
  dashboard/ui-contract/contract-baseline.json
  dashboard/ui-contract/transcription-suite-ui.contract.yaml
  server/backend/pyproject.toml
  server/backend/uv.lock
Due: prettier, ui-contract-check

refactor: prefix local variables with underscore for clarity
  dashboard/components/views/AudioNoteModal.tsx
  dashboard/components/views/SessionView.tsx
  dashboard/components/views/SettingsModal.tsx
Due: prettier, ui-contract-check

fix: update ajv-keywords dependency in package-lock.json
  dashboard/package-lock.json
Due: prettier, ui-contract-check

feat: Restore full v0.5.6 system tray menu and behavior
  dashboard/components/views/SessionView.tsx
  dashboard/electron/main.ts
  dashboard/electron/preload.ts
  dashboard/electron/trayManager.ts
  dashboard/src/hooks/useTraySync.ts
  dashboard/src/types/electron.d.ts
Due: prettier, ui-contract-check

feat: Implement 12-point issue resolution with visualizer redesign, system tray improvements, and UV cache consolidation
  README.md
  README_DEV.md
  dashboard/App.tsx
  dashboard/components/AudioVisualizer.tsx
  dashboard/components/views/AddNoteModal.tsx
  dashboard/components/views/NotebookView.tsx
  dashboard/components/views/ServerView.tsx
  dashboard/components/views/SessionView.tsx
  dashboard/electron/dockerManager.ts
  dashboard/electron/main.ts
  dashboard/electron/preload.ts
  dashboard/electron/trayManager.ts
  dashboard/public/logo.svg
  dashboard/src/api/client.ts
  dashboard/src/api/types.ts
  dashboard/src/hooks/useDocker.ts
  dashboard/src/types/electron.d.ts
  dashboard/ui-contract/contract-baseline.json
  dashboard/ui-contract/transcription-suite-ui.contract.yaml
  server/backend/api/routes/notebook.py
  server/backend/database/database.py
  server/backend/tests/test_bootstrap_runtime.py
  server/docker/Dockerfile
  server/docker/bootstrap_runtime.py
  server/docker/docker-compose.yml
  server/docker/docker-entrypoint.sh
  server/docker/start-common.ps1
  server/docker/start-common.sh
Due: prettier, ui-contract-check

feat: UI layout swap and tray behavior improvements
  README.md
  README_DEV.md
  dashboard/components/AudioVisualizer.tsx
  dashboard/components/views/SessionView.tsx
  dashboard/electron/main.ts
  dashboard/electron/trayManager.ts
  dashboard/public/logo.svg
Due: prettier, ui-contract-check

feat: auto-stage ruff/prettier formatting changes in pre-commit
  .pre-commit-config.yaml
Due: none

chore: Minor package updates
  build/uv.lock
  dashboard/package-lock.json
Due: prettier, ui-contract-check

refactor: Remove global shortcuts and forced XWayland on Linux
  dashboard/components/views/SettingsModal.tsx
  dashboard/electron/main.ts
  dashboard/electron/preload.ts
  dashboard/src/config/store.ts
  dashboard/src/types/electron.d.ts
  dashboard/ui-contract/contract-baseline.json
  dashboard/ui-contract/transcription-suite-ui.contract.yaml
Due: prettier, ui-contract-check

fix: Update logo source in Sidebar and prune UV package cache in bootstrap_runtime
  dashboard/components/Sidebar.tsx
  dashboard/package-lock.json
  server/docker/bootstrap_runtime.py
Due: prettier, ui-contract-check

fix: System tray icon right click menu entries where all greyed out
  dashboard/src/hooks/useTraySync.ts
Due: prettier, ui-contract-check

docs: Add Windows Developer Mode requirement for electron-builder
  README_DEV.md
Due: none

fix: Reverting previous efforts to auto stage edits made by formatters called by the precommit hook
  .pre-commit-config.yaml
Due: none

fix: Resolve 6 dashboard and server issues
  README.md
  README_DEV.md
  dashboard/electron/main.ts
  dashboard/electron/trayManager.ts
  server/backend/api/routes/health.py
  server/backend/api/routes/live.py
  server/docker/entrypoint.py
Due: prettier, ui-contract-check

fix: Use serverConnection.serverStatus for tray icon state sync
  dashboard/components/views/SessionView.tsx
Due: prettier, ui-contract-check

fix: Centralize shutdown logic and handle OS signals for Docker cleanup
  dashboard/electron/main.ts
Due: prettier, ui-contract-check

refactor: Consolidate server/admin status polling with React contexts
  dashboard/App.tsx
  dashboard/components/views/ServerView.tsx
  dashboard/components/views/SessionView.tsx
  dashboard/components/views/SettingsModal.tsx
  dashboard/src/api/client.ts
  dashboard/src/api/types.ts
  dashboard/src/hooks/AdminStatusContext.tsx
  dashboard/src/hooks/ServerStatusContext.tsx
  dashboard/src/hooks/useAdminStatus.ts
  dashboard/src/hooks/useServerStatus.ts
  server/backend/api/routes/health.py
Due: prettier, ui-contract-check

fix: Server stop on Dashboard quit
  dashboard/electron/main.ts
  server/docker/docker-compose.yml
Due: prettier, ui-contract-check

refactor: Reorganize Live Mode UI controls and move visualizer sensitivity controls
  dashboard/components/views/SessionView.tsx
  dashboard/ui-contract/contract-baseline.json
  dashboard/ui-contract/transcription-suite-ui.contract.yaml
Due: prettier, ui-contract-check

docs: Clarify FUSE 2 requirement only affects GNOME-based distros
  README.md
Due: none

refactor: Overhaul tray icon state system with new visual states and upload tracking
  dashboard/App.tsx
  dashboard/components/views/NotebookView.tsx
  dashboard/components/views/SessionView.tsx
  dashboard/electron/preload.ts
  dashboard/electron/trayManager.ts
  dashboard/src/hooks/useTraySync.ts
  dashboard/src/types/electron.d.ts
Due: prettier, ui-contract-check

refactor: Add mute support to one-shot recording with visualizer silence
  dashboard/components/views/SessionView.tsx
  dashboard/electron/trayManager.ts
  dashboard/src/hooks/useTranscription.ts
  dashboard/src/hooks/useTraySync.ts
  dashboard/src/services/audioCapture.ts
Due: prettier, ui-contract-check

fix: Use Docker health status for tray state and increase disconnected icon brightness
  build/uv.lock
  dashboard/components/views/SessionView.tsx
  dashboard/electron/trayManager.ts
  dashboard/package-lock.json
  dashboard/src/hooks/useTraySync.ts
  server/backend/uv.lock
Due: prettier, ui-contract-check

feat: Make tray left-click toggle window visibility when server is disconnected
  dashboard/electron/trayManager.ts
Due: prettier, ui-contract-check

refactor: Reduce tray icon flash duration from 500ms to 200ms for snappier feedback
  dashboard/electron/trayManager.ts
Due: prettier, ui-contract-check

chore: Minor cleanup
  .github/workflows/release-desktop.yml
  README.md
Due: none

docs: Update both READMEs
  README.md
  README_DEV.md
  build/assets/shot-1.png
  build/assets/shot-2.png
  build/assets/shot-3.png
  build/assets/shot-4.png
Due: none

fix: Add macOS DMG build workaround for electron-builder dmgbuild binary incompatibility
  README_DEV.md
  build/build-electron-mac.sh
  dashboard/package-lock.json
Due: prettier, ui-contract-check

fix: Correct logo on macOS release
  build/assets/logo.icns
  build/build-electron-mac.sh
  dashboard/public/logo.svg
Due: ui-contract-check

fix: Re-enable automatic 'latest' tag for release versions
  build/docker-build-push.sh
Due: none

fix: Remove double-dash prefix from no-sandbox switch for AppImage compatibility
  dashboard/electron/main.ts
Due: prettier, ui-contract-check

fix: Undo last commit & apply updated GNOME sandboxing fix
  dashboard/electron/main.ts
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/scripts/afterPack.cjs
Due: prettier, ui-contract-check

refactor: Reorder imports and add EPIPE error handler for AppImage compatibility
  dashboard/electron/main.ts
Due: prettier, ui-contract-check

refactor: Replace navigator.clipboard with Electron native clipboard for sandboxed environment compatibility
  dashboard/components/views/ServerView.tsx
  dashboard/components/views/SessionView.tsx
  dashboard/components/views/SettingsModal.tsx
  dashboard/electron/main.ts
  dashboard/electron/preload.ts
  dashboard/src/hooks/useClipboard.ts
Due: prettier, ui-contract-check

fix: Chaning settings not being respected
  dashboard/electron/main.ts
Due: prettier, ui-contract-check

chore: Bump Dashboard version
  dashboard/package-lock.json
  dashboard/package.json
Due: prettier, ui-contract-check

docs: Minor logo & README update
  README.md
  build/assets/logo_wide.png
  build/assets/logo_wide.svg
  build/assets/logo_wide_readme.png
Due: none

fix: Live Mode text being wiped on tab change and Live mode start/stop
  README.md
  README_DEV.md
  build/assets/logo_wide.png
  build/assets/logo_wide.svg
  build/assets/logo_wide_readme.png
  dashboard/App.tsx
  dashboard/components/views/SessionView.tsx
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/src/hooks/useLiveMode.ts
Due: prettier, ui-contract-check

feat: Implement NVIDIA Parakeet ASR support with NeMo toolkit integration
  README.md
  README_DEV.md
  build/pyproject.toml
  build/uv.lock
  dashboard/App.tsx
  dashboard/components/views/ServerView.tsx
  dashboard/components/views/SettingsModal.tsx
  dashboard/electron/dockerManager.ts
  dashboard/electron/preload.ts
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/src/api/types.ts
  dashboard/src/hooks/useDocker.ts
  dashboard/src/services/modelCapabilities.ts
  server/backend/core/model_manager.py
  server/backend/core/stt/backends/__init__.py
  server/backend/core/stt/backends/base.py
  server/backend/core/stt/backends/factory.py
  server/backend/core/stt/backends/parakeet_backend.py
  server/backend/core/stt/backends/whisper_backend.py
  server/backend/core/stt/capabilities.py
  server/backend/core/stt/engine.py
  server/backend/pyproject.toml
  server/backend/uv.lock
  server/config.yaml
  server/docker/bootstrap_runtime.py
  server/docker/docker-compose.yml
Due: prettier, ui-contract-check

feat: Add visual indicators for model configuration changes requiring server restart
  dashboard/components/views/ServerView.tsx
  dashboard/ui-contract/contract-baseline.json
  dashboard/ui-contract/transcription-suite-ui.contract.yaml
Due: prettier, ui-contract-check
